@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200&display=swap');
h2,
label {
    font-family: 'Gluten', cursive;
    font-size: 35px;
    font-weight: bold;
    color: rgb(246, 31, 253);
}

button.firebase {
    font-family: 'Gluten', cursive;
    font-size: 25px;
    color: rgb(125, 126, 18);
    padding: 1.5%;
}

button.firebase:hover {
    color: rgb(6, 95, 41);
    background-color: rgb(230, 90, 65);
    border: 0px;
    border-radius: 15px;
}

body {
    margin: 100px;
    background-color: rgb(57, 151, 245);
    background-image: url("./bg.png");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

form {
    background-color: rgba(86, 240, 225, 0.871);
    width: 700px;
    align-items: center;
    box-sizing: border-box;
    position: static;
}

input {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 25px;
    font-family: 'Niconne', cursive;
    width: 42%
}

@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap');
.welcome {
    font-family: 'Turret Road', cursive;
    font-size: 25px;
    font-weight: 700;
    color: rgba(131, 49, 208, 0.898);
}